* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: arial;
}

.tunl-embedded-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

.ccno-group {grid-column: span 6}
.expire-group {grid-column: span 3}
.cvv-group {grid-column: span 3}
.submit-group {grid-column: span 6}

label {
    display: block;
    width: 100%;
}

input, button {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px -1px grey;
    width: 100%;
}

/* EMBEDED FORM HTML REFERENCE 

  <body class="tunl-embedded-body">
    <div class="tunl-embedded-form-wrapper">
        <form class="tunl-embedded-form" >
            <div class="tunl-field-group ccno-group">
                <label for="tunl_cc_no">Credit Card No</label>
                <input type="text" name="cc_no" id="tunl_cc_no" placeholder />
            </div>

            <div class="tunl-field-group expire-group">
                <label for="tunl_cc_expires">Expiration</label>
                <input type="text" name="cc_expires" id="tunl_cc_expires" />
            </div>

            <div class="tunl-field-group cvv-group">
                <label for="tunl_cc_cvv">CVV</label>
                <input type="text" name="cc_cvv" id="tunl_cc_cvv" />
            </div>

            <div class="tunl-field-group submit-group">
                <button>Submit</button>
            </div>
        </form>
    </div>
</body> */